* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.left-half, .rendered-content-container {
	width: 50%;
	height: 100%;
	padding: 30px;
}


.left-half form {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.input-container {
	height: 90%;
	border: 1px solid #ccc;
	padding: 10px;
	/* You can add padding if you want some spacing inside the form */
}

.input-container textarea {
	flex-grow: 1; /* Ensure it grows to fill the parent div */
	width: 100%; /* Make sure it takes the full width */
	height: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	resize: none; /* Optional: Prevent manual resizing */
	overflow-y: auto; /* Enable vertical scroll when content exceeds */
}

.input-row {
	height: 10%;
	display: flex;
	align-items: center;
	padding: 10px;
}

.input-row input {
	flex-grow: 1;
	margin-right: 10px;
	padding: 10px;
}

.input-row button {
	padding: 10px;
}

.rendered-content-container {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	overflow-y: auto;
}
