* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	width: 100vw;
	display: grid;
  grid-template-areas:  "header preview"
                        "editor preview";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 9fr;
}

main {
	width: 100%;
	display: flex;
	flex-direction: row;
  grid-area: editor;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  padding: .5rem;
}

.rendered-content-container {
	padding: 30px;
  grid-area: preview;
}


.editor {
	display: flex;
	height: 100%;
  width: 100%;
	flex-direction: column;
	justify-content: space-between;

  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.input-container {
	height: 90%;
	border: 1px solid #ccc;
	padding: 10px;
	/* You can add padding if you want some spacing inside the form */
}

.input-container textarea {
	flex-grow: 1; /* Ensure it grows to fill the parent div */
	width: 100%; /* Make sure it takes the full width */
	height: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	resize: none; /* Optional: Prevent manual resizing */
	overflow-y: auto; /* Enable vertical scroll when content exceeds */
}

.input-row {
	height: 10dvh;
	display: flex;
	align-items: center;
	padding: 10px;
}

.input-row input {
	flex-grow: 1;
	margin-right: 10px;
	padding: 10px;
}

.input-row button {
	padding: 10px;
}

.rendered-content-container {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	overflow-y: auto;
}

.help-modal--back {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: #2d2d2d40;
}

.help-modal--container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: .25rem;
  padding: 1rem 2rem;
  max-width: 90vw;

  background-color: #FFF;
}

.help-modal--separator {
  width: 75%;
}

.help-modal--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  padding: 1rem 0;
}

.help-modal--body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.help-modal--close {
  padding: 1rem;
  border: none;
  background-color: transparent;
}

.help-modal--close-img {
  width: 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.preview-button {
  display: none;
}

@media (max: 480px), screen and (orientation: portrait) {

body {
  grid-template-areas:  "header header"
                        "editor editor";
}

.rendered-content-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
}

.rendered-content-container.show {
  display: block;
}

.preview-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #f3c420;

  position: fixed;
  bottom: calc(10dvh + 2rem);
  right: 2rem;

  padding: .75rem;
}

.preview-button--preview, .preview-button--nopreview {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

}
