<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram message writer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Left half of the screen with a form -->
    <header>
      <h1>Telegram styled message Sender 🤖</h1>
    </header>

    <main>
        <form id="dataForm" action="#" method="POST" class="editor">
            <!-- Main markdown input div taking 90% of the height -->
            <div class="input-container">
  <textarea id="message" name="message"
    placeholder="Enter your message here

The previewed message will be sent to you by {{ bot_username }}. Contact him in private on Telegram, next run the '/start' command to get your chat id. Then, fill the field below with this chat id and click on Submit to get the message in your private Telegram chat.

">Enter your message here

> The previewed message will be sent to you by `{{ bot_username }}`. Contact him in private on Telegram, next run the `/start` command to get your chat id. Then, fill the field below with this chat id and click on *Submit* to get the message in your private Telegram chat.

Below you can get some samples of markdown syntax :

**bold \*\*text**
__bold \_\_text__

*italic \*text*
_italic \_text_
<u>underline</u>
~strikethrough~
~~strikethrough~~
||spoiler||
**bold _italic bold ~~italic bold strikethrough ||italic bold strikethrough spoiler||~~ <u>underline italic bold_</u> bold**
[inline URL](http://www.example.com/)
👍
`inline fixed-width code`
```
pre-formatted fixed-width code block
```
```python
pre-formatted fixed-width code block written in the Python programming language
```
>Block quotation started
>Block quotation continued
>Block quotation continued
>Block quotation continued
>The last line of the block quotation

- [ ] not done
- [x] done</textarea>
            </div>

            <!-- Chat id input and submit button occupying the remaining 10% of
              the height -->
            <div class="input-row">
          <input id="chat-id" type="text"
                  placeholder="Enter your chat id"
                  name="chat_id"/>
                <button type="submit" id="submit-button">Submit</button>
            </div>
        </form>
    </main>

    <!-- Right half of the screen -->
    <div class="rendered-content-container" id="rendered-content">
        <!-- Content for the second half -->
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='render_content.js') }}"></script>
    <script src="{{ url_for('static', filename='send_content.js') }}"></script>
    <script src="{{ url_for('static', filename='store.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
