<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram message writer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Left half of the screen with a form -->
    <header>
      <h1>Telegram styled message Sender 🤖</h1>
    </header>

    <main>
        <form id="dataForm" action="#" method="POST" class="editor">
            <!-- Main markdown input div taking 90% of the height -->
            <div class="input-container">
  <textarea id="message" name="message"
    placeholder="Enter your message here

The previewed message will be sent to you by {{ bot_username }}. Contact him in private on Telegram, next run the '/start' command to get your chat id. Then, fill the field below with this chat id and click on Submit to get the message in your private Telegram chat.

">Enter your message here

> The previewed message will be sent to you by [`{{ bot_username }}`]({{ bot_link }}). Contact him in private on Telegram, next run the `/start` command to get your chat id. Then, fill the field below with this chat id and click on *Submit* to get the message in your private Telegram chat.

Below you can get some samples of markdown syntax :

**bold \*\*text**
__bold \_\_text__

*italic \*text*
_italic \_text_
<u>underline</u>
~strikethrough~
~~strikethrough~~
||spoiler||
**bold _italic bold ~~italic bold strikethrough ||italic bold strikethrough spoiler||~~ <u>underline italic bold_</u> bold**
[inline URL](http://www.example.com/)
👍
`inline fixed-width code`
```
pre-formatted fixed-width code block
```
```python
pre-formatted fixed-width code block written in the Python programming language
```
>Block quotation started
>Block quotation continued
>Block quotation continued
>Block quotation continued
>The last line of the block quotation

- [ ] not done
- [x] done</textarea>
            </div>

            <!-- Chat id input and submit button occupying the remaining 10% of
              the height -->
            <div class="input-row">
                <input id="chat-id" type="text"
                    placeholder="Enter your chat id"
                    name="chat_id"
                />

                <!-- noform to prevent the button from triggering the form submit event -->
                <button form="noform" id="help-button" title="Où trouver le chat-id ?">
                    <img src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEwIDE5aDN2M2gtM3ptMi0xN2M1LjM1LjIyIDcuNjggNS42MiA0LjUgOS42N2MtLjgzIDEtMi4xNyAxLjY2LTIuODMgMi41QzEzIDE1IDEzIDE2IDEzIDE3aC0zYzAtMS42NyAwLTMuMDguNjctNC4wOGMuNjYtMSAyLTEuNTkgMi44My0yLjI1QzE1LjkyIDguNDMgMTUuMzIgNS4yNiAxMiA1YTMgMyAwIDAgMC0zIDNINmE2IDYgMCAwIDEgNi02Ii8+PC9zdmc+' alt="help"/>
                </button>
                
                <button type="submit" id="submit-button">
                    <img src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0ibTIgMjFsMjEtOUwyIDN2N2wxNSAybC0xNSAyeiIvPjwvc3ZnPg==' alt="submit"/>
                </button>
            </div>
        </form>
    </main>

    <!-- Right half of the screen -->
    <div class="rendered-content-container" id="rendered-content">
        <!-- Content for the second half -->
    </div>

    <div class="preview-button" id="preview-button">
      <img alt="preview" class="preview-button--preview" id="preview-button--preview" src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJNMjAwLTEyMHEtMzMgMC01Ni41LTIzLjVUMTIwLTIwMHYtNTYwcTAtMzMgMjMuNS01Ni41VDIwMC04NDBoNTYwcTMzIDAgNTYuNSAyMy41VDg0MC03NjB2NTYwcTAgMzMtMjMuNSA1Ni41VDc2MC0xMjBIMjAwWm0wLTgwaDU2MHYtNDgwSDIwMHY0ODBabTI4MC04MHEtODIgMC0xNDYuNS00NC41VDI0MC00NDBxMjktNzEgOTMuNS0xMTUuNVQ0ODAtNjAwcTgyIDAgMTQ2LjUgNDQuNVQ3MjAtNDQwcS0yOSA3MS05My41IDExNS41VDQ4MC0yODBabTAtNjBxNTYgMCAxMDItMjYuNXQ3Mi03My41cS0yNi00Ny03Mi03My41VDQ4MC01NDBxLTU2IDAtMTAyIDI2LjVUMzA2LTQ0MHEyNiA0NyA3MiA3My41VDQ4MC0zNDBabTAtMTAwWm0wIDYwcTI1IDAgNDIuNS0xNy41VDU0MC00NDBxMC0yNS0xNy41LTQyLjVUNDgwLTUwMHEtMjUgMC00Mi41IDE3LjVUNDIwLTQ0MHEwIDI1IDE3LjUgNDIuNVQ0ODAtMzgwWiIvPjwvc3ZnPg=='/>
      <img alt="nopreview" class="preview-button--nopreview hidden" id="preview-button--nopreview" src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJNNDgwLTI4MHEtODIgMC0xNDYuNS00NC41VDI0MC00NDBxMjAtNDggNTYtODR0ODQtNTZsNDcgNDdxLTM5IDExLTcwIDM0LjVUMzA2LTQ0MHEyNiA0NyA3MiA3My41VDQ4MC0zNDBxMzAgMCA1OC04dDUxLTIzbDQzIDQzcS0zMiAyMy03MC41IDM1LjVUNDgwLTI4MFptMjA5LTEwNC00My00M3EyLTMgNC02LjV0NC02LjVxLTE4LTMzLTQ3LTU2LjVUNTQyLTUzMWwtNjktNjlxODIgMCAxNTAgNDQuNVQ3MjAtNDQwcS02IDE1LTEzLjUgMjlUNjg5LTM4NFpNNzkxLTU2bC02NC02NEgyMDBxLTMzIDAtNTYuNS0yMy41VDEyMC0yMDB2LTUyN2wtNjQtNjUgNTYtNTYgNzM2IDczNi01NyA1NlpNMjAwLTIwMGg0NDdMMjAwLTY0N3Y0NDdabTY0MC0zMy04MC04MHYtMzI3SDQzM0wyMzMtODQwaDUyN3EzMyAwIDU2LjUgMjMuNVQ4NDAtNzYwdjUyN1oiLz48L3N2Zz4='/>
    </div>

    <!-- Help Modal -->
    <div class="help-modal hidden" id="help-modal">
      <div class="help-modal--back" id="help-modal--back"></div>

      <div class="help-modal--container">
        <div class="help-modal--header">
          <h3>Comment trouver mon chat id ?</h3>

          <button class="help-modal--close" id="help-modal--close">
            <img alt="close" class="help-modal--close-img" src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE5LDYuNDFMMTcuNTksNUwxMiwxMC41OUw2LjQxLDVMNSw2LjQxTDEwLjU5LDEyTDUsMTcuNTlMNi40MSwxOUwxMiwxMy40MUwxNy41OSwxOUwxOSwxNy41OUwxMy40MSwxMkwxOSw2LjQxWiIgLz48L3N2Zz4='/>
          </button>
        </div>

        <hr class="help-modal--separator">

        <div class="help-modal--body">
          <ol>
            <li>Contactez <a target="_blank" href="{{ bot_link }}">{{ bot_username }}</a></li>
            <li>Envoyez-lui la commande <code>/start</code></li>
            <li>Vous recevrez votre chat id en réponse en ce sera bon !</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Help Modal -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='render_content.js') }}"></script>
    <script src="{{ url_for('static', filename='send_content.js') }}"></script>
    <script src="{{ url_for('static', filename='store.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
